{% extends 'blogview/base.html' %}
{% block body %}
{% load static %}


      <!-- END header -->


    <section class="site-section pt-5">
      <div class="container">

        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">

            <div class="row">
              <div class="col-md-12">
                {% for owner_about in owner_about_context %}
                <h2 class="mb-4">{{ owner_about.owner_about_title }}</h2>
                <p class="mb-5"><img src="{{ owner_about.owner_about_image.url }}" alt="Image placeholder" class="img-fluid"></p>
                <p>{{ owner_about.owner_about_message }}</p>
                {% endfor %}
              </div>
            </div>

            <div class="row mb-5 mt-5">
              <div class="col-md-12 mb-5">
                <h2>My Latest Posts</h2>
              </div>
              <div class="col-md-12">

                <div class="post-entry-horzontal">
                  {% for owner_post in owner_post_context %}
                  <a href="{% url 'blog-post' pk=owner_post.pk %}">
                    <div class="image" style="background-image: url({{ owner_post.post_image.url }});"></div>
                    <span class="text">
                      <div class="post-meta">
                        <span class="author mr-2"><img src="{{ owner_post.author.author_image }}" alt=""> {{ owner_post.author }}</span>&bullet;
                        <span class="mr-2">{{ owner_post.post_title }}</span> &bullet;

                      </div>
                      <h2>{{ owner_post.post_title }}</h2>
                    </span>
                  </a>
                  {% endfor %}
                </div>
                <!-- END post -->


              </div>
            </div>



          </div>

          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="{% url 'category' %}" class="search-form" method="post">{% csrf_token %}
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter" name="keyword-search">
                </div>
              </form>
            </div>

            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <div class="bio text-center">
                {% for owner_about in owner_context %}
                <img src="{{ owner_about.owner_image.url }}" alt="Image Placeholder" class="img-fluid">
                <div class="bio-body">
                  <h2>{{ owner_about.owner_name }}</h2>
                  <p>{{ owner_about.owner_message }}.</p>
                  <p><a href="#" class="btn btn-primary btn-sm rounded">See my Portfolio</a></p>

                  <p class="social">
                    <a href="{{ owner_about.owner_facebook }}" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="{{ owner_about.owner_twitter }}" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="{{ owner_about.owner_youtube }}" class="p-2"><span class="fa fa-youtube-play"></span></a>
                    <a href="{{ owner_about.owner_linkedin }}" class="p-2"><span class="fa fa-linkedin"></span></a>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>

                  <li>
                  {% for popular_post in popular_post_context %}
                    <a href="{% url 'blog-post' pk=popular_post.pk %}">
                      <img src="{{ popular_post.posts.post_image.url }}" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>{{ popular_post.posts.post_title }}</h4>
                        <div class="post-meta">
                          <span class="mr-2">{{ popular_post.posts.post_date }}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Categories</h3>
                  {% for post_cate in post_context %}
              <ul class="categories">
                <li><a href="{% url 'blog-post' pk=post_cate.pk %}">{{ post_cate.post_category }}<span>(12)</span></a></li>
              </ul>
              {% endfor %}
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Tags</h3>
              <ul class="tags">
                {% for post_tage in post_context %}
                <li><a href="{% url 'blog-post' pk=post_tage.pk %}">{{ post_tage.post_tages }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- END sidebar -->

        </div>
      </div>
    </section>

{% endblock %}
